<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Donut UX</h2>
      <p>We apply lean UX methods for small businesses, startups and individuals. We provide cost effective research and design solutions for you to apply to your iterative process.</p>
      <p>Including: research & discovery, competitive analysis, user personas, information architecture, user journeys, user flows, low-med-hi-fi wireframes in Sketch, UI design, clickable prototypes, moderated user testing, interviews, surveys, etc.</p>
      <p>We help you make a truly user-centered product.</p>
    </div>
  </div>
</section>
