<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">Start small and dream big.</h3>
                <hr class="light">
                <p class="text-faded">We pride ourselves in untangling complex problems and creating simple solutions. Engaging users shouldn’t cost an arm and a leg and we’re here to help you for a fraction of the cost.</p>
            </div>
        </div>
    </div>
</section>
