<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">Start small and dream big.</h3>
                <hr class="light">
                <p class="text-faded">We LOVE untangling complex problems to create simple solutions. Engaging your users <em>shouldn’t</em> cost an arm and a leg and we’re here to help you for a fraction of the cost. We’ll help you create a, truly, user-centered product.</p>
            </div>
        </div>
    </div>
</section>
