<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Donut UX</h1>
          <p class="intro-text">
            Established in 2014, two girls from a rough town discover a shared love of technology and the desire to help the little guy.
            <br/>Donut UX was born.
          </p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
