<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Consulting</h3>
                    <p class="text-muted">Whether you have an existing product or are just getting started, we can provide you with advice from our experience in a variety products and industries! We can help you determine the needs of your users to help meet your goals.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Structure & Design</h3>
                    <p class="text-muted">If your product needs an update or you’re starting completely from scratch, we can organize and simplify your for your users. We can provide you with everything you need for development and all assets are 100% yours.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Validation</h3>
                    <p class="text-muted">Put our ideas to the test! We’ll conduct the user research for you and back-up all product and decisions. Discover your users likes and dislikes and create a truly user-centered product by collecting feedback at every stage.</p>
                </div>
            </div>
        </div>
    </div>
</section>
